<template name="login">
    <div id="navbar">
        <a href="/">
            <div id="navbar-left"></div>
            <div id="menu">끈기의계곡</div>
        </a>
    </div>

    <div id="login-body">
        <h1>로그인</h1>
        <div id="front-login-or-register">
            <div id="change-to-login">로그인</div>
            <a href="/register"><div id="change-to-register">회원가입</div></a>
        </div>
        <form id="front-login">
            <input id="front-login-username" type="username" placeholder="아이디">
            <input id="front-login-password" type="password" placeholder="비밀번호">
            <div id="front-login-submit">로그인</div>
        </form>
        <div style="padding-bottom:150px;"></div>
    </div>
</template>