<template name="register">
    <div id="navbar">
        <a href="/">
            <div id="navbar-left"></div>
            <div id="menu">끈기의계곡</div>
        </a>
    </div>

    <div id="register-body">
        <h1>회원가입</h1>
        <div id="front-login-or-register">
            <a href="/login"><div id="change-to-login">로그인</div></a>
            <div id="change-to-register">회원가입</div>
        </div>
        <form id="front-register">
            <input id="front-register-username" type="username" placeholder="아이디">
            <input id="front-register-password" type="password" placeholder="비밀번호">
            <div id="front-register-submit">회원가입</div>
        </form>
        <div style="padding-bottom:150px;"></div>
    </div>
</template>